body{ 
    background-size: cover;
    background-attachment: fixed; 
    background-repeat: no-repeat; 
    background-position: center; 
    background-image: url(../img/vm2\ \(2\).jpeg);
    background-position-y: 50%;
} 
header{
    display: flexbox;
    justify-content: space-between;
    align-items: center;
    padding: 3%;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    font-weight: bold;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li {
    margin: 0 10px;
}
nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px 15px;
    display: flex;
}
.menu-icon {
    display: none;
    font-size: 10px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
#menu-toggle {
    display: none;
}

@media (max-width: 768px) {
    .menu-icon {
        display: block;
        padding-right: 10px;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #ffffff;
        position: absolute;
        top: 60px;
        left: 0;
        z-index: 1000;
        padding: 0;
    }

    #menu-toggle:checked + .menu-icon + ul {
        display: flex;
    }

    nav ul li {
        text-align: center;
        margin: 0;
    }

    nav ul li a {
        padding: 15px 0;
    }
    
    nav ul li label {
        width: 100%;
        display: block;
    }
}

.logo img{ 
 
    max-width: 100%;
    height: auto;
    padding: 1%;
    width: 80px;
}
.caixa-imagem{
    text-align: center;
    margin-top: 1%;
}
figure{
    text-align: center;
    display: inline-block;
}
figure img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}
figure figcaption{
    margin: 1.0em;
    text-align: center;
    color: black;
}
main{
    margin-top: 70px;
    padding: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;

}


.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    padding: 5px 30px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
}


.titulos{
    line-height: 3;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-family: "Quicksand", sans-serif;
}
.divgr{
    background-color: rgb(5, 5, 5);
    border-radius: 30px;
    position: relative;
    top: 500px;
    right: 80px;
    padding-left: 30px;
    padding-right: 30px;
    width: 1140px;
}

.img1 img{
    border-radius: 30px;
    width: 300px;
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    padding: 20px;
}

.img2 img{
    border-radius: 40px;
    width: 600px;
    display: block;
    max-width: 100%;
    height: auto;
   padding-bottom: 20px;
}
.img3 img{
    border-radius: 40px;
    width: 600px;
    max-width: 100%;
    height: auto;
    padding-bottom: 22px;
    padding-top: 10px;

}
.img4 {
    display: flex;
    align-items: center;
}

.img4 img {
    margin-left: 20px;
    max-width: 30%;
}

.img7 img{
    border-radius: 30px;
    width: 900px;
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    padding: 20px;
}

.divgr p{
    line-height: 1.5;
    font-size: 1.1em;
    text-align: justify;
    color: rgb(255, 255, 255);
    font-family: "Quicksand", sans-serif;
    font-weight:400;
}

.divgr h1{
    font-size: 3em;
    text-align: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
}

.divgr h2{
    font-size: 1.8em;
    text-align: calc(100);
    padding-top: 80px;
}

table{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    text-align: center;
    width: 80%;
    border-collapse: collapse;
    font-size: 1.2em
    
  }
  td,th{
    padding: 1.5%;
    border:2px dashed #f00
    
  }
  tr:nth-child(even) {
    background-color: rgb(97, 49, 209);
  }


.rodape{
    padding: 2%;
    background-color: black;
    color: #ffffff;
    position: relative;
    bottom: 0px;
}


