body{ 
    background-size: cover;
    background-attachment: fixed; /* Fixa a imagem de fundo */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    background-position: center; 
    background-image: url(../img/4.jpg);
    background-position-y: -50%;
} 
header{
    display: flexbox;
    justify-content: space-between;
    align-items: center;
    padding: 15%;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li {
    margin: 0 10px;
}
nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px 15px;
    display: flex;
    line-height: 3;
    font-size: 1.5em;
    font-weight: bold;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
}
.menu-icon {
    display: none;
    font-size: 10px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
#menu-toggle {
    display: none;
}

@media (max-width: 768px) {
    .menu-icon {
        display: block;
        padding-right: 10px;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #ffffff;
        position: absolute;
        top: 60px;
        left: 0;
        z-index: 1000;
        padding: 0;
    }

    #menu-toggle:checked + .menu-icon + ul {
        display: flex;
    }

    nav ul li {
        text-align: center;
        margin: 0;
    }

    nav ul li a {
        padding: 15px 0;
    }
    
    nav ul li label {
        width: 100%;
        display: block;
    }
}

.logo img{ 
 
    max-width: 100%;
    height: auto;
    padding: 1%;
    width: 90px;
}

main{
    margin-top: 70px;
    padding: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;

}


.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    padding: 0.5px 30px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
}


.titulos{
    line-height: 3;
    font-weight: bold;
    color: rgb(255, 255, 255);
   
}

.divgr{
    background-color: rgb(5, 5, 5);
    border-radius: 30px;
    position: relative;
    top: 700px;
    right: 120px;
    padding-left: 30px;
    padding-right: 30px;
    width: 1450px;
}

.img1 img{
    border-radius: 30px;
    width: 300px;
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    padding: 20px;
}
.img7 img{
    border-radius: 30px;
    width: 900px;
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    padding: 20px;
}

.divgr p{
    line-height: 1.5;
    font-size: 1.1em;
    text-align: justify;
    color: rgb(255, 255, 255);
    font-family: "Quicksand", sans-serif;
    font-weight:400;
}

.divgr h1{
    font-size: 3em;
    text-align: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
}

.divgr h2{
    font-size: 1.5em;
    text-align: calc(100);
    font-family: "Quicksand", sans-serif;
}

table{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    text-align: center;
    width: 80%;
    border-collapse: collapse;
    font-size: 1.2em
    
  }
  td,th{
    padding: 1.5%;
    border:2px dashed #f00
    
  }
  tr:nth-child(even) {
    background-color: rgb(97, 49, 209);
  }


.rodape{
    padding: 2%;
    background-color: black;
    color: #ffffff;
    position: relative;
    bottom: 0px;
}


