body{ 
    background-size: cover;
    background-attachment: fixed; 
    background-repeat: no-repeat; 
    background-position: center; 
    background-image: url(../img/r2.jpg);
    background-position-y: 7%;
} 
header{
    display: flexbox;
    justify-content: space-between;
    align-items: center;
    padding: 10%;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li {
    margin: 0 10px;
}
nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px 15px;
    display: flex;
    font-size: 1.3em;
}
.menu-icon {
    display: none;
    font-size: 35px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
#menu-toggle {
    display: none;
}

@media screen and (max-width: 900px) {
    nav ul li{
        display: none;
    }
    .logo {
        width: 80px;
    }

    body main{
        width: 3%;
        margin-top: 100%;
    }
    main .divgr{
        width: 210px;
        display:block;
        margin: 0 auto;
        padding-left: 20px;
        padding-right: 20px;
    }
    .divgr section h2 {
        font-size: 1.2em;
    }

    .divgr section h1{
        font-size: 1.8em;
    }

    .divgr section p{
        font-size: 0.7em;
        padding-left: -70px;
    }
    .divgr .img4 {
        display: flex;
        align-items: center;
        flex-direction:column-reverse;
    }
    .divgr .img4 p{
     width: 100%;
    }
    
    .divgr .imgav img {
        border-radius: 30px;
        margin-bottom: 8%;
        width: 250px;
        margin-left: -12%;
    }

    .img5{
        width: 190%;
        margin-left: -130px;
    }
    .img7{
        margin-left: -30px;
        width: 100%;
    }
}

.logo img{ 
    max-width: 100%;
    height: auto;
    padding: 1%;
    width: 70px;
}

main{
    width: 100%;
    margin-top: 48%;
}


.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(5, 5, 5);
    padding: 5px 30px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
}


.titulos{
    line-height: 3;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-family: "Quicksand", sans-serif;
    font-size: 2em;
}
.divgr{
    background-color: rgb(5, 5, 5);
    border-radius: 30px;
    display: block;
    margin: 0 auto;
    padding-left: 60px;
    padding-right: 60px;
    width: 85%;
    font-size: 1.1em;
}


.img1 img{
    border-radius: 30px;
    width: 300px;
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    padding: 20px;
}

.img2 img{
    border-radius: 40px;
    width: 600px;
    display: block;
    max-width: 100%;
    height: auto;
   padding-bottom: 20px;
}
.img3 img{
    border-radius: 40px;
    width: 600px;
    max-width: 100%;
    height: auto;
    padding-bottom: 22px;
    padding-top: 10px;
}
.img4 {
    display: flex;
    align-items: center;
    flex-direction:row;
}
.img4 p{
    padding-bottom: 8%;
    width: 70%;
}

.imgav img {
    margin-left: -270px;
    border-radius: 30px;
    width: 330px;
}

.img5 img {
    width: 55%;
    display: block;
    margin: 0 auto;
    border-radius: 30px;
    margin-bottom: 3%;

}
.img7 img{
    border-radius: 50px;
    width: 700px;
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    padding: 20px;
}

.divgr p{
    line-height: 1.5;
    font-size: 1.1em;
    text-align:left;
    color: rgb(255, 255, 255);
    font-family: "Quicksand", sans-serif;
    font-weight:400;
    padding-bottom: 2%;
}

.divgr h1{
    font-size: 2em;
    text-align: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
}

.divgr h2{
    font-size: 1.3em;
    text-align: calc(100);
    padding-top: 20px;
}

table{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    text-align: center;
    width: 80%;
    border-collapse: collapse;
    font-size: 1.2em
    
  }
  td,th{
    padding: 1.5%;
    border:2px dashed #f00
    
  }
  tr:nth-child(even) {
    background-color: rgb(97, 49, 209);
  }


.rodape{
    padding: 2%;
    background-color: black;
    color: #ffffff;
    position: absolute;
    bottom: 0px;
}